ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_Kestrel__Certificates__Default__Password=<any value here>
ASPNETCORE_Kestrel__Certificates__Default__Path=/root/.aspnet/https/DraftPuck.pfx
DRAFTPUCK_LOGGING__LOGLEVEL__DEFAULT=Information
DRAFTPUCK_LOGGING__LOGLEVEL__Microsoft.AspNetCore=Information
DRAFTPUCK_ConnectionStrings__DefaultConnection=<Local SQL Connection String>
DRAFTPUCK_APPLICATION__BASEPATH=https://localhost:17010