# ASP.NET Core
DRAFTPUCK_ASPNETCORE_URLS=https://+:17000/
DRAFTPUCK_ASPNETCORE_ENVIRONMENT=Development
DRAFTPUCK_ASPNETCORE_Kestrel__Certificates__Default__Password=<PFX_PASSWORD>
DRAFTPUCK_ASPNETCORE_Kestrel__Certificates__Default__Path=/root/.aspnet/https/DraftPuck.pfx

# Connection Strings
DRAFTPUCK_ConnectionStrings__DefaultConnection=Server=host.docker.internal,1433;Database=DraftPuck;User Id=sa;Password=<SA_PASSWORD>;Encrypt=false;
DRAFTPUCK_ConnectionStrings__LocalConnection=Server=localhost;Database=DraftPuck;Trusted_Connection=True;Encrypt=false;

# Application Settings
DRAFTPUCK_APPLICATION__BASEPATH=http://localhost:17010
DRAFTPUCK_APPLICATION__ISTESTMODE=false
DRAFTPUCK_APPLICATION__TestModeStartDateTimeUtc=2025-10-31T00:30:00

# Automapper License
DRAFTPUCK_AUTOMAPPER__LICENSEKEY=<AUTOMAPPER_LICENSE_KEY>

# Firebase (secrets replaced with placeholders)
DRAFTPUCK_FIREBASE__Type=service_account
DRAFTPUCK_FIREBASE__ProjectId=draftpuck
DRAFTPUCK_FIREBASE__PrivateKeyId=<FIREBASE_PRIVATE_KEY_ID>
DRAFTPUCK_FIREBASE__PrivateKey=<FIREBASE_PRIVATE_KEY>
DRAFTPUCK_FIREBASE__ClientEmail=<FIREBASE_CLIENT_EMAIL>
DRAFTPUCK_FIREBASE__ClientId=<FIREBASE_CLIENT_ID>
DRAFTPUCK_FIREBASE__AuthUri=https://accounts.google.com/o/oauth2/auth
DRAFTPUCK_FIREBASE__TokenUri=https://oauth2.googleapis.com/token
DRAFTPUCK_FIREBASE__AuthProviderX509CertUrl=https://www.googleapis.com/oauth2/v1/certs
DRAFTPUCK_FIREBASE__ClientX509CertUrl=<FIREBASE_CLIENT_CERT_URL>
DRAFTPUCK_FIREBASE__UniverseDomain=googleapis.com

# Auth
DRAFTPUCK_AUTH__JWTKEY=<JWT_KEY>
DRAFTPUCK_AUTH__ISSUER=urn:draftpuck
DRAFTPUCK_AUTH__AUDIENCE=urn:draftpuck

# Azure Storage
DRAFTPUCK_AZURESTORAGE__CONNECTIONSTRING=
DRAFTPUCK_AZURESTORAGE__USEDEVELOPMENTSTORAGE=true

# Redis
DRAFTPUCK_Redis__ConnectionString=redis:6379,abortConnect=false

# Misc
DRAFTPUCK_NHL__DelayInMilliseconds=500

# Logging
DRAFTPUCK_LOGGING__LOGLEVEL__DEFAULT=Debug
DRAFTPUCK_LOGGING__LOGLEVEL__Microsoft__AspNetCore__Authentication=Debug
DRAFTPUCK_LOGGING__LOGLEVEL__Microsoft__IdentityModel=Debug
