USE [master]
GO
/****** Object:  Database [BrewPuck]    Script Date: 12/20/2022 8:16:03 AM ******/
CREATE DATABASE [BrewPuck]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BrewPuck', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BrewPuck.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BrewPuck_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BrewPuck_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BrewPuck].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BrewPuck]
GO
USE [BrewPuck]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 12/20/2022 8:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[Id] [uniqueidentifier] NOT NULL,
	[LobbyMemberPickId] [uniqueidentifier] NOT NULL,
	[RecipientLobbyMemberId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Drinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lobbies]    Script Date: 12/20/2022 8:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lobbies](
	[Id] [uniqueidentifier] NOT NULL,
	[JoinCode] [nvarchar](4) NOT NULL,
	[Status] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Lobbies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LobbyMemberPicks]    Script Date: 12/20/2022 8:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LobbyMemberPicks](
	[Id] [uniqueidentifier] NOT NULL,
	[LobbyMemberId] [uniqueidentifier] NOT NULL,
	[PlayerId] [bigint] NOT NULL,
 CONSTRAINT [PK_LobbyMemberPicks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LobbyMembers]    Script Date: 12/20/2022 8:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LobbyMembers](
	[Id] [uniqueidentifier] NOT NULL,
	[LobbyId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LobbyMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 12/20/2022 8:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [bigint] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Number] [nvarchar](2) NOT NULL,
	[Position] [nvarchar](2) NULL,
	[TeamId] [int] NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 12/20/2022 8:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] NOT NULL,
	[Abbreviation] [nvarchar](5) NOT NULL,
	[TeamName] [nvarchar](50) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/20/2022 8:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Drinks] ADD  CONSTRAINT [DF_Drinks_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Lobbies] ADD  CONSTRAINT [DF_Lobbies_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Lobbies] ADD  CONSTRAINT [DF_Lobbies_Created]  DEFAULT (getutcdate()) FOR [Created]
GO
ALTER TABLE [dbo].[LobbyMemberPicks] ADD  CONSTRAINT [DF_LobbyMemberPicks_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[LobbyMembers] ADD  CONSTRAINT [DF_LobbyMembers_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_People_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_People_Created]  DEFAULT (getutcdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Drinks]  WITH CHECK ADD  CONSTRAINT [FK_Drinks_LobbyMemberPicks] FOREIGN KEY([LobbyMemberPickId])
REFERENCES [dbo].[LobbyMemberPicks] ([Id])
GO
ALTER TABLE [dbo].[Drinks] CHECK CONSTRAINT [FK_Drinks_LobbyMemberPicks]
GO
ALTER TABLE [dbo].[Drinks]  WITH CHECK ADD  CONSTRAINT [FK_Drinks_LobbyMembers] FOREIGN KEY([RecipientLobbyMemberId])
REFERENCES [dbo].[LobbyMembers] ([Id])
GO
ALTER TABLE [dbo].[Drinks] CHECK CONSTRAINT [FK_Drinks_LobbyMembers]
GO
ALTER TABLE [dbo].[Lobbies]  WITH CHECK ADD  CONSTRAINT [FK_Lobbies_People] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Lobbies] CHECK CONSTRAINT [FK_Lobbies_People]
GO
ALTER TABLE [dbo].[LobbyMemberPicks]  WITH CHECK ADD  CONSTRAINT [FK_LobbyMemberPicks_LobbyMembers] FOREIGN KEY([LobbyMemberId])
REFERENCES [dbo].[LobbyMembers] ([Id])
GO
ALTER TABLE [dbo].[LobbyMemberPicks] CHECK CONSTRAINT [FK_LobbyMemberPicks_LobbyMembers]
GO
ALTER TABLE [dbo].[LobbyMemberPicks]  WITH CHECK ADD  CONSTRAINT [FK_LobbyMemberPicks_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([Id])
GO
ALTER TABLE [dbo].[LobbyMemberPicks] CHECK CONSTRAINT [FK_LobbyMemberPicks_Players]
GO
ALTER TABLE [dbo].[LobbyMembers]  WITH CHECK ADD  CONSTRAINT [FK_LobbyMembers_Lobbies] FOREIGN KEY([LobbyId])
REFERENCES [dbo].[Lobbies] ([Id])
GO
ALTER TABLE [dbo].[LobbyMembers] CHECK CONSTRAINT [FK_LobbyMembers_Lobbies]
GO
ALTER TABLE [dbo].[LobbyMembers]  WITH CHECK ADD  CONSTRAINT [FK_LobbyMembers_People] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LobbyMembers] CHECK CONSTRAINT [FK_LobbyMembers_People]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_Players_Teams] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Teams]
GO
USE [master]
GO
