@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import "uicons-regular-rounded.css";
@import "uicons-solid-rounded.css";
@import 'overrides.scss';
@import 'gameAnimations.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap-vue/src/index.scss';

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

table.score-table > tbody > tr > td,
table.score-table > tbody > tr > th,
table.score-table > thead > tr > td,
table.score-table > thead > tr > th {
    padding: 10px 20px;
}

table.score-table {
    height: 100%;
    width: 100%;
}

table.score-table > tbody > tr > th,
table.score-table > thead > tr > th {
    background-color: rgba(0,0,0,0.02);
}

table.score-table > tbody > tr:nth-child(3) > td,
table.score-table > thead > tr:nth-child(3) > td {
    border-top: 1px solid rgba(0,0,0,0.02);
}

table.score-table > tbody > tr > td:not(:first-child),
table.score-table > tbody > tr > th:not(:first-child),
table.score-table > thead > tr > td:not(:first-child),
table.score-table > thead > tr > th:not(:first-child) {
    border-left: 1px solid rgba(0,0,0,0.02);
}

.is-live {
    border: 3px solid map-get($theme-colors, "primary") !important;
}

.is-live:not(.is-critical) .score-table > tbody > tr > th:first-child,
.is-live:not(.is-critical) .score-table > thead > tr > th:first-child {
    color: map-get($theme-colors, "stone-700") !important;
}

.is-live.is-critical .score-table > tbody > tr > th:first-child,
.is-live.is-critical .score-table > thead > tr > th:first-child {
    color: map-get($theme-colors, "stone-700") !important;
    background-color: #ffb100 !important;
    position: relative;
}

.is-live.is-critical .score-table > tbody > tr > th:first-child::after,
.is-live.is-critical .score-table > thead > tr > th:first-child::after {
    content: 'Close game';
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 10px;
}

.logo {
    font-family: 'Rubik Mono One';
    letter-spacing: -4px;
}

.banner-logo {
    font-family: 'Rubik Mono One';
    padding-right: 5px;
    margin-top: 4px;
    letter-spacing: -4px;
    max-width: 300px;
}

.banner-logo > img {
    width: 100%;
}

.team-abr {
    display: none;
}

.item-type-goal .event-text {
    font-size: 0.9rem;
}

.feed-item {
    background-color: map-get($theme-colors, 'stone-100')
}

.feed-item.item-type-subtype-0,
.feed-item.item-type-subtype-1,
.feed-item.item-type-subtype-2,
.feed-item.item-type-subtype-3,
.feed-item.item-type-subtype-4,
.feed-item.item-type-subtype-8,
.feed-item.item-type-subtype-10 {
    background-color: map-get($theme-colors, 'blue') !important;
    color: white;
}

.feed-item.item-type-subtype-5 {
    color: white;
    background-image: linear-gradient(to right, rgb(245, 158, 11) 0, rgb(245, 158, 11) 19%, map-get($theme-colors, "stone-900") 19%, map-get($theme-colors, "stone-900"));
    text-shadow: 0 0 5px black;
}

.feed-item.item-type-subtype-6,
.feed-item.item-type-subtype-7,
.feed-item.item-type-subtype-11 {
    background-color: #ffb100;
    color: white;
}

@keyframes down {
    0% {
        margin-top: -83px;
    }

    100% {
        margin-top: 0;
    }
}

.feed-item:last-child {
    animation-name: down;
    animation-duration: 0.7s;
}

.team-icons img:nth-child(2) {
    transform: translate(-35px, 10px);
    width: 50px;
    height: 50px;
}

.team-icons img:first-child {
    transform: translateY(-10px);
    width: 50px;
    height: 50px;
}

.team-icons img:only-child {
    transform: none;
    width: 60px;
    height: 60px;
}

.item-type-goal {
    position: relative;
    overflow: hidden;
}

.item-type-goal .team-icons img:only-child {
    transform: none;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50px, -50%);
}

.feed-item {
    min-height: 75px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.item-type-goal {
    box-shadow: 0 0 25px rgba(0,0,0,0.7) inset;
}

@media only screen and (max-width: 1880px) {
    .score-table > tbody > tr > th:first-child {
        width: 150px !important;
    }

    .score-table > tbody > tr > .team-name {
        display: none;
    }

    .score-table > tbody > tr > .team-abr {
        display: block;
    }
}

@media only screen and (max-width: 1600px) {
    .score-table > tbody > tr > td:last-child,
    .score-table > thead > tr > td:last-child {
        padding: 10px !important;
    }

    .score-table > tbody > tr > .first-letter,
    .score-table > thead > tr > .first-letter {
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    .score-table > tbody > tr > th:first-child,
    .score-table > thead > tr > th:first-child {
        width: 120px !important;
    }

    .score-table > tbody > tr > td,
    .score-table > tbody > tr > th,
    .score-table > thead > tr > td,
    .score-table > thead > tr > th {
        padding: 10px !important;
    }

    .score-table > tbody > tr > td:first-child img,
    .score-table > thead > tr > td:first-child img {
        width: 30px !important;
        height: 30px !important;
    }

    .score-table > tbody > tr > th:nth-child(n + 2):nth-child(-n + 5),
    .score-table > tbody > tr > td:nth-child(n + 2):nth-child(-n + 5),
    .score-table > thead > tr > th:nth-child(n + 2):nth-child(-n + 5),
    .score-table > thead > tr > td:nth-child(n + 2):nth-child(-n + 5) {
        width: auto !important;
    }

    .is-live.is-critical th:first-child::after {
        display: none !important;
    }
}

@media only screen and (max-width: 1200px) {
    .game-scoreboard {
        width: 100% !important;
    }

    .score-table > tbody > tr > th:first-child,
    .score-table > thead > tr > th:first-child {
        width: 150px !important;
    }

    .score-table > tbody > tr > td,
    .score-table > tbody > tr > th,
    .score-table > thead > tr > td,
    .score-table > thead > tr > th {
        padding: 10px 20px !important;
    }

    .score-table > tbody > tr > td:first-child img,
    .score-table > thead > tr > td:first-child img {
        width: 50px !important;
        height: 50px !important;
    }

    .score-table > tbody > tr > th:nth-child(n + 2):nth-child(-n + 5),
    .score-table > tbody > tr > td:nth-child(n + 2):nth-child(-n + 5),
    .score-table > thead > tr > th:nth-child(n + 2):nth-child(-n + 5),
    .score-table > thead > tr > td:nth-child(n + 2):nth-child(-n + 5) {
        width: 30px !important;
    }

    .banner-logo {
        max-width: 200px;
    }
}

@media only screen and (max-width: 1000px) {
    .feed-item,
    .feed-item.item-type-goal .event-text {
        font-size: 12px !important;
        position: relative;
    }

    .feed-item .team-icons {
        margin: 0 !important;
        padding: 5px !important;
    }

    .feed-item .team-icons img {
        transform: translateY(-50%) !important;
        position: absolute !important;
        top: 50% !important;
        left: 0px !important;
        width: 60px !important;
        height: 60px !important;
    }

    .feed-item .team-icons img:not(:only-child) {
        width: 40px !important;
        height: 40px !important;
        left: 10px !important;
    }

    .feed-item .team-icons img:not(:only-child):first-child {
        transform: translate(-10px, -65%) !important;
    }

    .feed-item .team-icons img:not(:only-child):nth-child(2) {
        transform: translate(10px, -35%) !important;
    }

    .feed {
        width: 300px !important;
    }

    .feed-item .header {
        font-size: 10px !important;
    }

    .feed-item .divider {
        margin: 0 5px !important;
    }

    .feed-item-content,
    .feed-item .team-icons {
        padding: 5px !important;
    }
}

@media only screen and (max-width: 850px) {
    .score-table > tbody > tr > th:first-child,
    .score-table > thead > tr > th:first-child {
        width: 120px !important;
    }

    .score-table > tbody > tr > td,
    .score-table > tbody > tr > th,
    .score-table > thead > tr > td,
    .score-table > thead > tr > th {
        padding: 10px !important;
    }

    .score-table > tbody > tr > td:first-child img,
    .score-table > thead > tr > td:first-child img {
        width: 30px !important;
        height: 30px !important;
    }

    .score-table > tbody > tr > th:nth-child(n + 2):nth-child(-n + 5),
    .score-table > tbody > tr > td:nth-child(n + 2):nth-child(-n + 5),
    .score-table > thead > tr > th:nth-child(n + 2):nth-child(-n + 5),
    .score-table > thead > tr > td:nth-child(n + 2):nth-child(-n + 5) {
        width: auto !important;
    }
}

@media only screen and (max-width: 720px) {
    .score-table > tbody > tr > th:nth-child(n + 2):nth-child(-n + 4),
    .score-table > tbody > tr > td:nth-child(n + 2):nth-child(-n + 4),
    .score-table > thead > tr > th:nth-child(n + 2):nth-child(-n + 4),
    .score-table > thead > tr > td:nth-child(n + 2):nth-child(-n + 4) {
        display: none !important;
    }
}

@media only screen and (max-width: 650px) {
    .score-table > tbody > tr > th:nth-child(n + 2):nth-child(-n + 4),
    .score-table > tbody > tr > td:nth-child(n + 2):nth-child(-n + 4),
    .score-table > thead > tr > th:nth-child(n + 2):nth-child(-n + 4),
    .score-table > thead > tr > td:nth-child(n + 2):nth-child(-n + 4) {
        display: table-cell !important;
    }

    .score-table > tbody > tr > th:last-child,
    .score-table > tbody > tr > td:last-child,
    .score-table > thead > tr > th:last-child,
    .score-table > thead > tr > td:last-child {
        display: none !important;
    }

    .full-scoreboard > div {
        margin: 0 !important;
        padding: 5px 0 !important;
    }

    .game-scoreboard {
        margin: 5px 10px !important;
    }
}

@media only screen and (max-width: 576px) {
    .banner-logo {
        max-width: 150px;
    }

    .feed {
        width: 100% !important;
    }

    .hide-mobile {
        display: none !important;
    }

    .score-table > tbody > tr > th:nth-child(n + 2):nth-child(-n + 5),
    .score-table > tbody > tr > td:nth-child(n + 2):nth-child(-n + 5),
    .score-table > thead > tr > th:nth-child(n + 2):nth-child(-n + 5),
    .score-table > thead > tr > td:nth-child(n + 2):nth-child(-n + 5) {
        text-align: center !important;
        width: 30px !important;
    }

    .score-table > tbody > tr > th:last-child,
    .score-table > tbody > tr > td:last-child,
    .score-table > thead > tr > th:last-child,
    .score-table > thead > tr > td:last-child {
        display: table-cell !important;
    }

    .banner-logo {
        font-size: 20px !important;
        letter-spacing: -3px !important;
    }
}

.text-shadow {
    text-shadow: 0 1px 0 black;
}

@media only screen and (max-width: 500px) {
    .score-table > tbody > tr > th:last-child,
    .score-table > tbody > tr > td:last-child,
    .score-table > thead > tr > th:last-child,
    .score-table > thead > tr > td:last-child {
        font-size: 10px !important;
        padding: 3px !important;
    }

    .feed-item,
    .feed-item.item-type-goal .event-text {
        font-size: 14px !important;
        position: relative;
    }

    .feed-item.item-type-goal .event-text {
        font-size: 16px !important;
    }

    .feed-item .team-icons {
        margin: 0 !important;
        padding: 5px !important;
    }

    .feed-item .team-icons img {
        transform: translateY(-50%) !important;
        position: absolute !important;
        top: 50% !important;
        left: 0px !important;
        width: 60px !important;
        height: 60px !important;
    }

    .feed-item .team-icons img:not(:only-child) {
        width: 40px !important;
        height: 40px !important;
        left: 10px !important;
    }

    .feed-item .team-icons img:not(:only-child):first-child {
        transform: translate(-10px, -65%) !important;
    }

    .feed-item .team-icons img:not(:only-child):nth-child(2) {
        transform: translate(10px, -35%) !important;
    }

    .feed-item .header {
        font-size: 13px !important;
    }

    .feed-item .divider {
        margin: 0 5px !important;
    }

    .feed-item-content,
    .feed-item .team-icons {
        padding: 10px !important;
    }
}
